// Colors
$color-dark-black: #040506; // Shadows
$color-medium-black: #101619; // Background
$color-light-black: #182025; // Nav Menu
$color-green: #7fffdf; // Links/Buttons/Gradient
$color-dark-green: #498e7f; // Underlines
$color-light-green: #99ffe5; // Box Shadow Focus
$color-off-white: #dce4ff; // Text
$color-grey: #515863; // Accents/Borders
$color-bright-pink: #ff005d; // Form Errors

// Font Size
$size-1: 1.2rem;
$size-2: 1.3rem;
$size-3: 1.4rem;
$size-4: 1.5rem;
$size-5: 1.6rem;
$size-6: 1.7rem;
$size-7: 1.8rem;
$size-8: 2rem;
$size-9: 2.2rem;

// Spacing
$spacer-xxs: 4px;
$spacer-xs: 6px;
$spacer-sm: 8px;
$spacer-md: 12px;
$spacer-lg: 14px;
$spacer-xl: 16px;
$spacer-xxl: 20px;
